input[type=text]{
        width: 200px;
        height: 30px;
        border-radius: 4px;
        border-color: lightblue;
        box-sizing: border-box;
        font-family: old english text mt;
        font-size: 20px;
        
    }
    input[type=text]:focus {
        background-color: lightblue;
        font-family: old english text mt;
    }
    input[type="submit"]{
        background-color: black;
        color: white;
        border-radius: 4px;
        box-sizing: border-box;
        width: 100px;
        height: 35px;
        font-family: old english text mt;
        font-size: 15px;
    }